*{
	margin: 0px auto;
	padding: 0px;
	box-sizing: border-box;
}

.list-auto, .list-auto li { width: 100%; float: left; display: block; position: relative; }
.list-auto, .list-auto li { width: auto; }

header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #2b2d2f;
  background: #2b2d2f;
  z-index: 2;
}

.list-auto { 
	list-style: none;
	width: 100%;
	margin: auto;	
	/*display: block;*/
}

.float-r > ul li {
	line-height: 50px;
	float: left;
	height: auto;
	display: inline-block;
}
.float-r ul li a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding: 0px 20px;
}
.float-r ul li a:hover {
	color: #ff073a;
	padding-left: 1rem;
}
.float-r ul li.current > a {
	background: none;
	color: #ff073a;
}

input#control-nav {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}


@media screen and (max-width: 767px) {
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ff073a;
    background: #2b2d2f;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  header ul.list-auto {
    padding: 0;
    list-style: none;
  }

  header ul.list-auto li {
    width: 100%;
    border: solid #FFFFFF;
    border-width: 0 0 1px;
  }

  header li a {
   	display: block;
    padding: 20px 5px;
	text-decoration: none;
	display: block;
	padding: 0px 20px;

  }

  header li a:hover {
 	color: #ff073a;
	padding-left: 1rem;
  }
  header li.current > a {
	background: none;
	color: #ff073a;
  }

  .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #ff073a;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #ff073a;
  }

  .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* checked nav */
  input#control-nav {
    visibility: visible;
  }

  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }

  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }

  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
